
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #01496c;
    font-family: "Montserrat", sans-serif;
    /* overflow: hidden; */
}

svg { display: none }

.settings {
    background: transparent;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid rgba(255, 255, 255, 0);
    backdrop-filter: blur(15px);
}

.bg-gradient {
    background: radial-gradient(#00475E, #11134F, #020E1C);
}

.frame-gradient {
    background: linear-gradient(#3BD0FF, #FF40CA);
}

.right-bg-gradient {
    background: linear-gradient(0.25turn, #FF40CA, #3BD0FF);
}

.brand-btn-gradient {
    background: -webkit-linear-gradient(#C100AD, #4DC1C8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 30.6px;
    text-align: center;
}

.brand-btn {
    background: linear-gradient(180deg, #FFFFFF 0%, #E2E9EC 100%);
    box-shadow: 0px 0px 31px 0px #C355E9 inset;
    border-radius: 30px;
    color: #000;
}

.brand-btn-secondary {
    background: linear-gradient(94.65deg, #C100AD 7.01%, #4DC1C8 96.31%);
    box-shadow: 0px 0px 20px 0px #260371 inset;
    border-radius: 30px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 900;
    line-height: 15.3px;
    text-align: center;
}

.brand-btn-secondary:active:hover,
.brand-btn-secondary:active:focus {
    animation: button-pop 3s ease-out;
} 

.round-brand-btn {
    border: 2px solid #72727266;
    border-radius: 100px;
    box-shadow: 0px 0px 10.1px 0px #C355E9 inset;
    background: linear-gradient(180deg, #FFFFFF 0%, #E2E9EC 100%);
}

.round-brand-btn:active:hover,
.round-brand-btn:active:focus {
    animation: button-pop 3s ease-out;
}

.round-btn-lg {
    width: 36px;
    height: 36px;
}

.brand-btn-lg {
    width: 167px;
    height: 64px;
}

.brand-btn-md {
    width: 174px;
    height: 38px;
    gap: 10px;
}

.balance {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 12.09px;
    text-align: left;

    border-radius: 14px;
    background: radial-gradient(72.66% 72.66% at 60.94% 27.34%, #1C254A 0%, #0F1426 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 1px 0px 0px #000000A6;
    padding: 1px;
}

.balance label {
    font-size: 10px;
    font-weight: 400;
    line-height: 11.6px;
    text-align: left;
}

.functional-btn {
    border-radius: 14px;
    /* background: transparent; */
    background: radial-gradient(72.66% 72.66% at 60.94% 27.34%, #1C254A 0%, #0F1426 100%)
     /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 1px 0px 0px #000000A6;

    font-family: "Montserrat", sans-serif;
    font-size: 8px;
    font-weight: 600;
    line-height: 8px;
    text-align: center;

    position: relative;
}


.functional-btn:active:hover,
.functional-btn:active:focus {
    animation: button-pop 3s ease-out;
}

.functional-btn-lg {
    width: 64px;
    height: 64px;
}

.functional-btn-md {
    width: 64px;
    height: 38px;
}

.functional-btn-sm {
    width: 38px;
    height: 38px;
}

.current-balance {
    width: 70px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    text-align: center;
}

.current-balance label {
    font-size: 6px;
    font-weight: 400;
    line-height: 6px;
    text-align: center;
}

.functional-btn label {
    font-family: "Montserrat", sans-serif;
    font-size: 6px;
    font-weight: 400;
    line-height: 6px;
    text-align: center;
}

.functional-btn .value {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
}

/* .functional-btn:active {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(94.65deg, #C100AD 7.01%, #4DC1C8 96.31%);
    border-image-slice: 0.5; 
    border-radius: 14px;
} */

.functional-btn-active {
    border-radius: 14px;
    /* background: transparent; */
    background: radial-gradient(72.66% 72.66% at 60.94% 27.34%, #1C254A 0%, #0F1426 100%)
     /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 1px 0px 0px #000000A6;

    font-family: "Montserrat", sans-serif;
    font-size: 8px;
    font-weight: 600;
    line-height: 8px;
    text-align: center;
    
    transform: scale(0.95);

    position: relative;
}

.functional-btn-active label {
    font-family: "Montserrat", sans-serif;
    font-size: 6px;
    font-weight: 400;
    line-height: 6px;
    text-align: center;
}

.functional-btn-active .value {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
}

.functional-btn-active::before, 
.functional-btn-active::after {
  content: ' ';
  position: absolute;
  border-radius: 14px;
}

.functional-btn-active::before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    background: -moz-linear-gradient(94.65deg, #C100AD 7.01%, #4DC1C8 96.31%);
    background: -bg-webkit-gradient(94.65deg, #C100AD 7.01%, #4DC1C8 96.31%);
    background: -webkit-linear-gradient(94.65deg, #C100AD 7.01%, #4DC1C8 96.31%);
    background: -o-linear-gradient(94.65deg, #C100AD 7.01%, #4DC1C8 96.31%);
    background: -ms-linear-gradient(94.65deg, #C100AD 7.01%, #4DC1C8 96.31%);
    background: linear-gradient(94.65deg, #C100AD 7.01%, #4DC1C8 96.31%);
  }
  
  .functional-btn-active::after {
    top: 2px; 
    bottom: 2px;
    left: 2px;
    right: 2px;
    background: radial-gradient(72.66% 72.66% at 60.94% 27.34%, #1C254A 0%, #0F1426 100%);
    z-index: -1;
    transition: all 0.6s ease-in-out;
  }
  
.win {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #FFF;
    padding-top: 8px;
}

.dropdown-wrapper {
    background: #122237;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 84px;
    gap: 10px;
    border-radius: 20px;
}

.auto {
    /* font-family: Montserrat; */
    font-size: 8px;
    font-weight: 600;
    line-height: 8px;
    text-align: center;
    background-image: linear-gradient(94.65deg, #C100AD 7.01%, #4DC1C8 96.31%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.moves {
    /* font-family: Montserrat; */
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
}

.moves span {
    /* font-family: Montserrat; */
    /* font-family: Montserrat; */
    font-size: 6px;
    font-weight: 600;
    line-height: 6px;
    text-align: center;
    
}

.rules {
    padding: 48px 24px;
    font-family: "Montserrat", sans-serif;
}

.rules h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 20.4px;
    text-align: center;
    padding-bottom: 22px;
}

.rules p {
    padding-top: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 9px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}


